<div class="page-head">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h1>CampSites
      <small>All CampSites in system</small>
    </h1>
  </div>
</div>




<div class="col-lg-10">
  <div class="portlet light portlet-fit bordered">
    <div class="portlet-ttle">

    </div>
    <div class="portlet-body">
      <div class="mt-element-list">
        <div class="mt-list-head list-simple font-white bg-red">
          <div class="list-head-title-container">
            <div class="list-date">Total Activity</div>
            <h3 class="list-title">CampSite List</h3>
          </div>
        </div>
        <div class="mt-list-container list-simple">
          <ul>

            <% @campsites.each do |camp_site|  %>
            <li class="mt-list-item">
              <div class="list-icon-container done">
                <i class="icon-check"></i>
              </div>
              <div class="list-datetime"> <%= camp_site.activities.count %> </div>
              <div class="list-item-content">
                <h3 class="uppercase">
                  <a href="<%= campsite_path(camp_site.id) %>"><%= camp_site.name %></a>
                </h3>
              </div>
            </li>
                <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
